$breakpoints: (
    "s": 65rem,
    "m": 70rem,
);

@mixin breakpoint($name) {
    @media screen and (max-width: map-get($breakpoints, $name)) {
        @content;
    }
}

.Grid {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 4.2rem)) 1fr;
    grid-template-rows: max-content;
    gap: 2rem 2rem;
    margin: 0;

    @include breakpoint("s") {
        grid-template-columns: 1rem repeat(6, 1fr) 1rem;
        gap: 1rem 1rem;
        margin: 0;
    }

    @include breakpoint("m") {
        grid-template-columns: 2rem repeat(6, 1fr) 2rem;
        gap: 1rem 1rem;
        margin: 0;
    }
}
