$breakpoints: (
    "small": 65rem,
    "medium": 70rem,
);

$positions: 13;
$responsive_positions: 7;

@mixin breakpoint($name) {
    @media screen and (max-width: map-get($breakpoints, $name)) {
        @content;
    }
}

@mixin position($name,$length){
    @for $i from 1 to $length {
        @for $j from 1 to $length {
            &_#{$name}_#{$i}_#{$j} {
                grid-column-start: $i + 1;
                grid-column-end: $j + 2;
            }
        }
    }
}

.Row {
    @include position("default", $positions);

    @include breakpoint("medium") {
        @include position("medium", $positions);
    }

    @include breakpoint("small") {
        @include position("small", $positions);
    }
}
