$breakpoints: (
    "small": 768px,
    "medium": 1024px,
);

$default_max_position: 13;
$medium_max_position: 7;
$small_max_position: 5;

@mixin breakpoint($name) {
    @media screen and (max-width: map-get($breakpoints, $name)) {
        @content;
    }
}

@mixin position($name, $length) {
    @for $i from 1 to $length {
        @for $j from 1 to $length {
            &_#{$name}_#{$i}_#{$j} {
                grid-column-start: $i + 1;
                grid-column-end: $j + 2;
            }
        }
    }
}

.Row {
    @include position("default", $default_max_position);

    @include breakpoint("medium") {
        @include position("medium", $medium_max_position);
    }

    @include breakpoint("small") {
        @include position("small", $small_max_position);
    }
}
